# Label Encoding

Label encoding coverts each value in a categorical column into numerical value. Each value in categorical column is called Label.

Label encoding is used when we have data that have levels such as Low, Medium, High, First, Second, Third etc.

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd

### Creating dictionary

In [2]:
data = {"Name":["Kushagra", "Shubham", "Ashish", "Hitesh", "Agniva", "Joy", "Sumit", "Kuldeep", "Chinmay", "Satya"], 
        "Proficiency": ["High", "Medium", "Low", "Medium", "High", "High", "Low", "Low", "Medium", "Low"], 
       "Skills": ["Advanced", "Basic", "Basic", "Intermediate", "Basic", "Intermediate", "Intermediate", "Advanced", "Intermediate", "Advanced"]}

### Creating a dataframe from dictionary

In [3]:
df = pd.DataFrame(data)
df

       Name Proficiency        Skills
0  Kushagra        High      Advanced
1   Shubham      Medium         Basic
2    Ashish         Low         Basic
3    Hitesh      Medium  Intermediate
4    Agniva        High         Basic
5       Joy        High  Intermediate
6     Sumit         Low  Intermediate
7   Kuldeep         Low      Advanced
8   Chinmay      Medium  Intermediate
9     Satya         Low      Advanced

Now, I have created the dataframe, Let's perform the label encoding to convert the string columns (Proficiency and Skills) to the numeric columns based on levels so that the data can be used further for modeling.

### Importing libraries to use LabelEncoder()

In [4]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [5]:
df["Proficiency"] = encoder.fit_transform(df["Proficiency"])

In [6]:
df["Skills"] = encoder.fit_transform(df["Skills"])

In [7]:
df

       Name  Proficiency  Skills
0  Kushagra            0       0
1   Shubham            2       1
2    Ashish            1       1
3    Hitesh            2       2
4    Agniva            0       1
5       Joy            0       2
6     Sumit            1       2
7   Kuldeep            1       0
8   Chinmay            2       2
9     Satya            1       0

Now you can see that, String data have been transformed to the numeric data based on the levels. The values have been assigned from 0 to 2.